
{
  "encounters": [
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    }
  ],
  "options": [
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    },
    {
      "id": "",
      "name": "",
      "description": "",
      "url": "/",
      "icon": "/assets/images/",
      "available": true
    }
  ]
}
