.adult-regimen-formulation {
    background-color: #FFFF33;
    color: black;
  }
  
.peads-regimen-formulation {
    background-color: #8A2BE2;
    color: white;
}

.adherence-col-bg {
  background-color: #b6b6b6; 
  font-weight: bold;
}
.adherence-txt-bad, .adherence-txt-good {
  font-style: italic;
  font-weight: bold;
}

.adherence-txt-good {
  color: green;
}

.adherence-txt-bad {
  color: red;
}