:root {
    --his-card-primary-color: white;
    --his-card-primary-padding: 1em;
    --his-card-primary-border-radius: 6px;
    --his-card-primary-border: 1px solid #ccc;
    --his-card-primary-shadow: 0px -2px 19px -2px rgba(196, 190, 196, 1);  
    --his-card-primary-shadow-webkit: 0px -2px 19px -2px rgba(196, 190, 196, 1);
    --his-card-primary-shadow-moz: 0px -2px 19px -2px rgba(196, 190, 196, 1);
}

.inactive-card-color {
    background: var(--his-card-primary-color) !important;
}

.disabled-card-color {
    background-color: #cccccc;
    color: #aaaaaa;
}

.active-card-color {
    border-color: rgb(53, 133, 247) !important;
    background: rgb(121, 186, 252) !important;
    box-shadow: 1px 0px 10px 0px rgba(131,182,253,0.75) !important;
    -webkit-box-shadow: 1px 0px 10px 0px rgba(131,182,253,0.75) !important;
    -moz-box-shadow: 1px 0px 10px 0px rgba(131,182,253,0.75) !important;
}

.clickable:active {
   transform: translateY(4px);
   background-color: rgb(235, 235, 235);
}

.his-danger-color {
    color: brown !important;
}
.his-warning-color {
    color: orange !important;
}

.his-info-color {
    color: green
}

.his-table {
    border-collapse: collapse;
    width: 100%;
}

.his-table > tr > td, th {
    text-align: left;
    padding: 1em;
}

.his-table > tr:nth-child(even) {
    background-color: #f8f8f8;
}

.his-card {
    font-size: 1em;
    border: 1px solid #cccbcb;
    background: var(--his-card-primary-color);
    padding: var(--his-card-primary-padding);
    border-radius: var(--his-card-primary-border-radius);
    -webkit-box-shadow: var(--his-card-primary-shadow-webkit);
    -moz-box-shadow: var(--his-card-primary-shadow-moz);
    box-shadow: var(--his-card-primary-shadow);
}

.tool-bar-medium-card {
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 87px;
    font-size: 0.8em;
    overflow: hidden;
    -webkit-box-shadow: -1px 4px 30px -16px rgba(0,0,0,0.28);
    -moz-box-shadow: -1px 4px 30px -16px rgba(0,0,0,0.28);
    box-shadow: -1px 4px 30px -16px rgba(0,0,0,0.28);
}

body {
 font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
}

.keypad-modal .modal-wrapper {
    width: 340px;
    height: 500px;
}

.his-title {
    font-size: 1.7em;
    padding: 0.3em;
}

.custom-modal .modal-wrapper {
    width: 90%;
    height: 80%;
}

.action-sheet-modal .modal-wrapper {
    width: 80%;
    height: 94%;
}

#view-port {
    border: 1px solid #ccc;
    background: #f8f8f8;
    width: 95%;
    margin: auto;
    border-radius: 3px;
    padding: 5px;
    overflow: hidden;
    margin-top: 1.3%;
    height: 80vh;
  -webkit-box-shadow: -1px 4px 30px -16px rgba(0,0,0,0.28);
  -moz-box-shadow: -1px 4px 30px -16px rgba(0,0,0,0.28);
  box-shadow: -1px 4px 30px -16px rgba(0,0,0,0.28);
}

.view-port-content {
    overflow-x: auto;
    height: 98%;
}

@media (max-width: 1024px) {
    .keypad-modal .modal-wrapper {
        width: 340px;
        height: 450px;
    }
}
