body {
 font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
}

.his-title {
    font-size: 1.7em;
    padding: 0.3em;
}

.custom-modal .modal-wrapper {
    width: 90%;
    height: 80%;
}

.view-port-content {
    overflow-x: auto;
    height: 90%;
}